{% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link text-dark" href="?page=1" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a></li>
    <li class="page-item"><a class="page-link text-dark"
                             href="?page={{ page_obj.previous_page_number }}">PREV</a>
    </li>
{% else %}
    <li class="page-item disabled"><a class="page-link" href="" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a></li>
    <li class="page-item disabled"><a class="page-link"
                                      href="">PREV</a>
{% endif %}
{% for page in page_obj.paginator.page_range %}
    {% if page <= page_obj.number|add:3 and page >= page_obj.number|add:-3 %}
        {% if page == page_obj.number %}
            <li class="page-item active"><a class="page-link text-dark"
                                            href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link text-dark"
                                     href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
{% if page_obj.has_next %}
    <li class="page-item"><a class="page-link text-dark"
                             href="?page={{ page_obj.next_page_number }}">NEXT</a></li>
    <li class="page-item"><a class="page-link text-dark"
                             href="?page={{ page_obj.paginator.num_pages }}"><span
            aria-hidden="true">&raquo;</span></a>
    </li>
{% else %}
    <li class="page-item disabled"><a class="page-link"
                                      href="">NEXT</a></li>
    <li class="page-item disabled"><a class="page-link"
                                      href=""><span aria-hidden="true">&raquo;</span></a></li>
{% endif %}