{% extends 'form.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block form %}
    <div class="mb-3"><h3>Reply to Post:</h3></div>
    <div class="list-group-item bg-secondary mb-2 text-light">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column me-3">
                <a><h5>{{ reply_post.user.username }}</h5></a>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <div class="d-flex">
                    {% if reply_post.edited %}
                        <small>(edited)</small>
                    {% endif %}
                    <small class="p-1 me-auto">{{ reply_post.date_posted }}</small>
                </div>
                <div class="d=flex flex-grow-1">
                    <p class="text-break ms-5 me-5">
                        {{ reply_post.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-data">
        <form method="post" action="{% url 'post reply' view.kwargs.pk %}">
            <div class="mb-3">
                {{ form.media }}
                {{ form|crispy }}
                {% csrf_token %}
                <button class="btn btn-dark w-100 mt-2">Reply</button>
            </div>
        </form>
    </div>
{% endblock %}