{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5">
                    <div class="mb-3"><h3>Are you sure you want to delete this thread?</h3></div>
                    <h5>The process cannnot be undone.</h5>
                    <div class="list-group-item bg-secondary mb-2 text-light">
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column me-3">
                                <a><h5>{{ object.user.username }}</h5></a>
                                {% if object.user.profile.image %}
                                    <img src="{{ MEDIA_URL }}{{ object.user.profile.image }}"
                                         alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                         style="width: 150px; height: 150px; z-index: 1">
                                {% else %}
                                    <img src="{% static 'images/Sample_User_Icon.png' %}"
                                         alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                         style="width: 150px; height: 150px; z-index: 1">
                                {% endif %}
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <div class="d-flex">
                                    {% if object.edited %}
                                        <small>(edited)</small>
                                    {% endif %}
                                    <small class="p-1 me-auto">{{ object.date_posted }}</small>
                                </div>
                                <div class="d=flex flex-grow-1">
                                    <p class="text-break ms-5 me-5">
                                        {{ object.content }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-data">
                        <form method="post" action="{% url 'post delete' object.id %}">
                            <div class="mb-3 mt-3">
                                {% csrf_token %}
                                <button class="btn btn-danger mt-2">Delete</button>
                                <a href="{% url 'thread posts' object.thread.slug %}" class="btn btn-primary mt-2 ms-2">No</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}