{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-10">
                    <div class="card">
                        <div class="text-white d-flex flex-row bg-dark" style="height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column">
                                {% if object.profile.image %}
                                    <img src="{{ MEDIA_URL }}{{ object.profile.image }}"
                                         alt="Generic placeholder image" class="img img-thumbnail mt-4 mb-2"
                                         style="width: 150px; height: 150px; z-index: 1">
                                {% else %}
                                    <img src="{% static 'images/Sample_User_Icon.png' %}"
                                         alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                         style="width: 150px; height: 150px; z-index: 1">
                                {% endif %}

                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h3>{{ object.username }}</h3>
                                <p>Member</p>
                            </div>
                            {% if request.user == object %}
                                <div class="ms-auto me-3" style="margin-top: 15px;"><a
                                        class="ms-2 bg-light btn btn-outline-danger"
                                        href="{% url 'account delete' object.pk %}">Delete</a></div>
                            {% endif %}
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                {% if request.user == object %}
                                <a href="{% url 'profile edit' object.pk %}" type="button" class="btn btn-outline-dark me-auto mb-2"
                                   data-mdb-ripple-color="dark" style="z-index: 1;">
                                    Edit profile
                                </a>
                                {% endif %}
                                <div>
                                    <p class="mb-1 h5">{{ object.profile.get_user_posts|length }}</p>
                                    <p class="small text-muted mb-0">Posts</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">{{ object.profile.date_joined }}</p>
                                    <p class="small text-muted mb-0">Joined</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">{{ object.last_login }}</p>
                                    <p class="small text-muted mb-0">Last Visited</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">{{ object.profile.bio|safe }}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Recent posts</p>
                                <p class="mb-0"><a href="{% url 'profile posts' object.pk %}" class="text-muted">Show all</a></p>
                            </div>

                            {% for post in object.profile.get_user_posts|slice:":5" %}
                                {% include 'posts.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}