{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'category threads' category.slug %}">{{ category.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
            </ol>
        </nav>
        <div class="container">
            <div class="row">
                <h1>{{ thread.title }}</h1>
                <h2 class="offset-2">{{ thread.content }}</h2>
            </div>

            {% if request.user == thread.user %}
                <a href="{% url 'thread edit' view.kwargs.slug %}">Edit</a>
                <a href="{% url 'thread delete' view.kwargs.slug %}">Delete</a>
            {% endif %}
        </div>
        <form method="post">
            <div class="container mt-3 mb-3" style="width:1000px">
                {{ form }}
                {% csrf_token %}
                <button>Post</button>
            </div>
        </form>

        {% for post in posts %}
            {{ post.content }}
            <a href="{% url 'post edit' post.id %}">Edit</a>
            <a href="{% url 'post delete' post.id %}">Delete</a>
            <hr>
        {% endfor %}




    </div>

{% endblock %}
