{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'category threads' category.slug %}">{{ category.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
            </ol>
        </nav>
        <div class="container">
            <div class="row">
                <h1>{{ thread.title }}</h1>
                <h2 class="offset-2">{{ thread.content }}</h2>
            </div>

            {% if request.user == thread.user %}
                <a href="{% url 'thread edit' view.kwargs.slug %}">Edit</a>
                <a href="{% url 'thread delete' view.kwargs.slug %}">Delete</a>
            {% endif %}
        </div>
        <form method="post">
            <div class="container mt-3 mb-3" style="width:1000px">
                {{ form }}
                {% csrf_token %}
                <button>Post</button>
            </div>
        </form>
        <div>
            {% for post in posts %}
                <div id="{{ post.id }}" class="list-group-item bg-secondary mb-2 text-light">
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column me-3">
                            <a href="{% url 'profile details' post.user.pk %}"><h5>{{ post.user.username }}</h5></a>
                            {% if post.user.profile.image %}
                                <img src="{{ MEDIA_URL }}{{ post.user.profile.image }}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; height: 150px; z-index: 1">
                            {% else %}
                                <img src="{% static 'images/Sample_User_Icon.png' %}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; height: 150px; z-index: 1">
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex">
                                {% if not post.is_parent %}
                                    <a href="#{{ post.parent.id }}">{{ post.parent.user.username }}</a>
                                {% endif %}
                                {% if post.edited %}
                                    <small>(edited)</small>
                                {% endif %}
                                <small class="p-1 me-auto">{{ post.date_posted }}</small>
                                {% if request.user == post.user %}
                                    <a class="ms-2 bg-light btn btn-outline-dark" href="{% url 'post edit' post.id %}">Edit</a>
                                    <a class="ms-2 bg-light btn btn-outline-danger"
                                       href="{% url 'post delete' post.id %}">Delete</a>
                                {% endif %}
                            </div>
                            <div class="d=flex flex-grow-1">
                                <p class="text-break ms-5 me-5">
                                    {{ post.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
